.principalFilme{
    padding: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    border: 0px solid red;
    height: 500px;
    width: 75%;
}

.principalFilmeInfo{
    color: white;
}

.principalFilmeInfo span{
    margin-right: 10px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    border-radius: 20px;
    padding: 15px 0px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.playNow span{
    font-size: 1.1em;
    display: block;
    margin-right: 5px;
}

.playMidia{
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    padding: 5px;
}

.playMidia:hover{
    cursor: pointer;
    border: 1px solid chartreuse;
    border-radius: 20px;
    transition: .5s;
    padding: 5px;
}