.principalFilme{
    padding: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    border: 0px solid red;
    height: 500px;
    width: 75%;
}

.principalFilmeInfo{
    color: white;
    border: 0px solid red;
    padding-top: 30px;
}

.principalFilmeInfo span{
    margin-right: 10px;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    border-radius: 20px;
    padding: 15px 0px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.playNow span{
    font-size: 1.1em;
    display: block;
    margin-right: 5px;
}

.playMidia{
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    padding: 5px;
}

.playMidia:hover{
    cursor: pointer;
    border: 1px solid chartreuse;
    border-radius: 20px;
    transition: .5s;
    padding: 5px;
}

.trailerNone{
    display: none;
}

.trailerBlock{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
}
.trailerBlock video{
    width: 100%;
    height: 100%;
}
.filmeNone{
    display: none;
}

.filmeBlock{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
}
.filmeBlock video{
    width: 100%;
    height: 100%;
}
