.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .container {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-preto_24972-764.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
*/


body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-preto_24972-764.jpg');
  background-attachment: fixed;
  background-size: cover;
  /* Ajusta o tamanho da imagem para cobrir toda a tela */
  background-position: center;
  /* Centraliza a imagem de fundo */
  background-repeat: no-repeat;
}

body{
  padding-top: 120px;
}